<!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <hr />
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <%= image_tag attachment_url(@joke, :joke_image, :fill, 300, 300, format: "jpg") %>
          </a>
        </div>
        <div class="col-md-5">
          <%= link_to "Volver", jokes_path, :class => "btn btn-warning" %>
        </div>
      </div>

      <!-- /.row -->
      
    </div>
